<!--================= Cta section start =================-->
<section class="vl-cta">
    <div class="container">
        <div class="vl-cta-bg-1 vl-cta-bg-4 p-relative fix br-8 pt-80 pb-50">
            <div class="vl-cta-shape">
                <img src="/img/icons/vl-cta-shape-4.1.svg" alt="">
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="vl-cta-wrapper mb-30">
                        <h2 class="vl-cta-wrapper-title vl-white pb-32">Ready to Build Your Mobile App, Web App, or School SaaS?</h2>

                        <div class="vl-cta-mailform">
                            <form action="/contact">
                                <div class="vl-cta-mail">
                                    <input type="email" placeholder="Enter Your Email Address">
                                    <div class="vl-cta-mail-btn">
                                        <div class="vl-herobtn vl-aboutbtn vl-upper">
                                            <button type="submit" class="theme-btn theme-btn2 vl-upper">Get Started Now <span><i class="fa-regular fa-arrow-right"></i></span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="vl-cta-img p-relative z-index-1" style="margin-top: 50px;">
                        <img src="/img/cta/vl-cta-main-4.1.png" alt="" style="transform: scale(1.10); transform-origin: bottom center;">
                        <div class="vl-cta-half-circle">
                            <img src="/img/shape/vl-cta-iner-shape.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================= Cta section End =================-->
