<!-- Meta & Title -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= typeof title !== 'undefined' ? title : 'Infinity Tech - Somali IT Solutions, Mobile Apps, Web Dev & School SaaS' %></title>

<!-- Blue Favicon -->
<link rel="shortcut icon" type="image/svg+xml" href="/img/logo/infinity-icon-blue.svg">
<link rel="icon" type="image/svg+xml" href="/img/logo/infinity-icon-blue.svg">
<link rel="apple-touch-icon" href="/img/logo/infinity-icon-blue.svg">

<!-- CSS files -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/magnific-popup.css">
<link rel="stylesheet" href="/css/all.css">
<link rel="stylesheet" href="/css/slick.css">
<link rel="stylesheet" href="/css/slick-theme.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/css/aos.css">
<link rel="stylesheet" href="/css/style.css">
